<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.uninottstt.android"
    android:versionCode="1"
    android:versionName="0.0.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.studentnow.android.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:logo="@drawable/ic_launcher2">
        
        <activity
            android:name="org.uninottstt.android.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.uninottstt.android.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="org.uninottstt.android.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.uninottstt.android.CardActivity" />
        </activity>
        <activity
            android:name="org.uninottstt.android.CreditActivity"
            android:label="@string/title_activity_credit"
            android:parentActivityName="org.uninottstt.android.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.uninottstt.android.CardActivity" />
        </activity>
        <activity
            android:name="org.uninottstt.SessionActivity"
            android:label="@string/title_activity_session"
            android:parentActivityName="org.uninottstt.CardActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.herod.studentnow.CardActivity" />
        </activity>
        <activity
            android:name="org.uninottstt.android.SetupActivity"
            android:label="@string/title_activity_setup_programme"
            android:launchMode="singleTask"
            android:parentActivityName="org.uninottstt.android.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.uninottstt.android.CardActivity" />
        </activity>
        <activity
            android:name="org.uninottstt.android.LoginActivity"
            android:label="@string/title_activity_login"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="org.uninottstt.InstitutionSelectActivity"
            android:label="@string/title_activity_institution_select"
            android:parentActivityName="org.uninottstt.android.SetupActivity"
            android:theme="@style/FullHeightDialog" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.uninottstt.android.SetupActivity" />
        </activity>
        <activity
            android:name="org.uninottstt.android.CourseSelectActivity"
            android:label="@string/title_activity_course_search"
            android:parentActivityName="org.uninottstt.android.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.uninottstt.android.CardActivity" />
        </activity>

        <service
            android:name="org.uninottstt.android.service.LiveService"
            android:enabled="true" >
        </service>

        <receiver
            android:name="org.uninottstt.android.LiveServiceStartReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        
    </application>

</manifest>
